.asocial_wrapper .input{
    margin-bottom: 10px;
}
.asocial_wrapper .input label{
    width: 170px;
    display: inline-block;
    font-weight: 600;
    line-height: 25px;
    margin-bottom: 10px;
}
.asocial_wrapper .input .asocial_input{
    width: 400px;
}
